@font-face {
  font-family: 'SuisseIntlRegular';
  src: url('../fonts/SuisseIntl-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntlBold';
  src: url('../fonts/SuisseIntl-SemiBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'WulkanDisplay';
  src: url('../fonts/WulkanDisplay-SemiBoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}